h1 {
    color:green;
    font-family: italic;
}

h4 {
    color:blue;
    font-weight: bold;
}
p {
    margin: 30px;
}
.ocean {
    color:skyblue;
    font-weight: bold;
}
.beach {
    color:yellow;
    background-color: blue;
}
.yellowback {
    background-color: yellow:
}
body {
    background-image: url("sailboat.jpg");
    background-repeat: no-repeat;
}